$primary-color-lg: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);

// commons
$white: #fff;
$grey: #8e8e8e;
$button-color: #0095f6;
$black: #000;
// search
$search-background-color: #fafafa;
$search-placeholder-color: #8e8e8e;
$search-border-color: #dbdbdb;

// story
$story-color: #262626;

// layout
$home-layout-bg: #fafafa;

// home
$home-stories-bg: #fff;
$home-stories-border: #dbdbdb;

// post
$post-background-color: #fff;
$post-border-color: #dbdbdb;

// dots
$dot-active-color: #0095f6;

// chat
$chat-border-color: #dbdbdb;
